* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: arial;
}

.contenedor {
  width: 90%;
  max-width: 900px;
  height: 100vh;
  margin: 10px auto;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
  grid-auto-rows: auto;
  grid-auto-rows: auto;
      grid-template-areas: 'header    header    header' 'main      main      aside' 'box-1     box-2     aside' 'footer    footer    footer';
}

.contenedor header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  background-color: #2c3e50;
  font-size: 20px;
  color: white;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  padding: 10px;
  background-color: #d5dbdb;
}

.contenedor main h1 {
  font-size: 27px;
  margin-bottom: 10px;
  font-weight: 500;
}

.contenedor main p {
  text-align: justify;
  line-height: 25px;
}

.contenedor aside {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: aside;
  padding: 10px;
  background-color: #58d68d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contenedor aside h2 {
  font-weight: 300;
}

.box-1, .box-2 {
  background-color: #c0392b;
  padding: 20px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: box-1;
}

.box-2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: box-2;
}

.contenedor footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  background-color: #3498db;
  color: white;
  padding: 5px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 600px) {
  .contenedor {
        grid-template-areas: 'header    header    header' 'main      main      main' 'aside     aside     aside' 'box-1     box-1     box-2' 'footer    footer    footer';
  }
}

@media screen and (max-width: 400px) {
  .contenedor {
        grid-template-areas: 'header    header    header' 'main      main      main' 'aside     aside     aside' 'box-1     box-1     box-1' 'box-2     box-2     box-2' 'footer    footer    footer';
  }
}
/*# sourceMappingURL=estilos.css.map */